.agregar-instalaciones {
    margin-top: 20px;
    text-align: center;
}

.select-instalaciones {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.boton-crear {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-crear:hover {
    background-color: #0056b3;
}
