.terminal-container {
    margin-top: 30px;
    text-align: center;
}

.terminal {
    margin-top: 20px;
    border: 2px solid black;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-family: "Courier New", monospace;
    height: 200px;
    overflow-y: scroll;
    border-radius: 5px;
}
